footer 
    width 100%
    height 180px
    background-color $azul
    position relative
    bottom 0 
    margin-top 30px
    +below($tablet)
        height 150px
    +mobile()
        height auto
        padding-bottom 10px
    .centralizado
        width 1300px
        height 100%
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        @media (max-width: 1400px)
            width 90% !important
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items center
            justify-content center
        .contatos
            width 37%
            height 100%
            display flex
            flex-direction row
            align-items flex-start
            border-right 2px solid #6E7986
            +mobile()
                width 100%
                height auto
                border-right none
                border-bottom 2px solid #6E7986
                padding-bottom 15px
            .logo-footer
                width 145px
                margin-top 30px
                +below($tablet)
                    width 120px
                    margin-top 20px
                +mobile()
                    width 40%
                    margin-top 0
                .img-logo-footer
                    width 100%
                    transition transform 0.2s
                &:hover
                    .img-logo-footer
                        transform scale(1.1)
            .atendimentos
                display flex
                flex-direction column
                align-items flex-start
                margin 35px 0 0 45px
                +below($tablet)
                    margin 25px 0 0 20px
                +mobile()
                    margin 5px 0 0 20px
                .link-celular
                    exo(24)
                    font-weight 600
                    color $laranja
                    transition .2s ease
                    +below($tablet)
                        font-size 18px
                    &:hover 
                        color #FFF
                .horario
                    raleway(12)
                    color #FFF
                    margin 10px 0
                    +below($tablet)
                        font-size 10px
                .redes-sociais
                    width 100%
                    margin-top 15px
                    display flex
                    .facebook
                        width 16px
                        height 16px
                        background-image $img('ico-facebook-branco.svg') 
                        background-position center
                        background-repeat no-repeat
                        margin-right 5px
                        transition background-image 0.5s ease-in-out;
                        +below($tablet)
                            width 14px
                            height 14px
                            background-size contain
                            margin-right 3px
                        &:hover
                            background-image $img('ico-facebook-laranja.svg') 
                    .linkedin
                        width 16px
                        height 16px
                        background-image $img('ico-linkedin-branco.svg') 
                        background-position center
                        background-repeat no-repeat
                        transition background-image 0.5s ease-in-out;
                        +below($tablet)
                            width 14px
                            height 14px
                            background-size contain
                        &:hover
                            background-image $img('ico-linkedin-laranja.svg') 
        .menus
            width 41%
            height 100%
            display flex
            flex-direction row
            align-items flex-start
            border-right 2px solid #6E7986
            +mobile()
                width 100%
                border-right none
                border-bottom 2px solid #6E7986
                padding-bottom 15px
            .parte-um, .parte-dois
                display flex
                flex-direction column
                align-items flex-start
                margin 40px 0 0 40px
                +below($tablet)
                    margin 30px 0 0 25px
                .link-nav
                    margin-bottom 10px
                    display flex
                    align-items center
                    span.linha
                        raleway(14)
                        color $laranja
                        margin-right 13px
                        letter-spacing -4px
                        +below($tablet)
                            font-size 12px
                    span.nome
                        raleway(14)
                        color #FFF
                        transition .2s ease
                        +below($tablet)
                            font-size 12px
                    &:hover
                    &.active
                        span.nome
                            color $laranja
            .parte-dois
                margin-left 50px
                +below($tablet)
                    margin-left 15px
        .informacoes
            width 22%
            display flex
            flex-direction column
            align-items flex-start
            margin 40px 0 0 40px
            +below($tablet)
                margin 30px 0 0 25px
            +mobile()
                margin 15px 0 20px 0
                width 100%
                align-items center
            .link-nav
                display flex
                align-items center
                span.linha
                    raleway(14)
                    color $laranja
                    margin-right 13px
                    letter-spacing -4px
                    +below($tablet)
                        font-size 12px
                span.nome
                    raleway(14)
                    color #FFF
                    transition .2s ease
                    +below($tablet)
                        font-size 12px
                &:hover
                    span.nome
                        color $laranja
            .direitos
                raleway(10)
                color #FFF
                margin 30px 0 10px 0
                +below($tablet)
                    font-size 9px
                    margin 20px 0 5px 0
            .trupe
                .link-trupe
                    raleway(10)
                    color #FFF
                    transition .2s ease
                    +below($tablet)
                        font-size 9px
                    &:hover
                        color $laranja