header 
    width 100%
    height 170px
    top 0
    left 0
    z-index 999
    position relative
    +below($tablet)
        height 140px
    +mobile()
        height 120px
    .centralizado
        width 1300px
        height 100%
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
        .logo-header
            .img-logo
                width 100%
                transition transform 0.2s
                +below($tablet)
                    width 80%
                +mobile()
                    width 60%
                &:hover
                    transform scale(1.1)
        nav
            width 930px
            height 90px
            display flex
            margin-top 10px
            +below($tablet)
                position absolute
                display none
                background-color #FFF
                width 100%
                left 0
                height auto
                top 140px
                padding 0 5% 15px 0
                z-index 99
                margin-top 0
            +mobile()
                top 120px
            div.itens-menu
                width 100%
                display flex
                flex-direction row
                align-items center
                justify-content space-between
                +below($tablet)
                    flex-direction column
                    align-items flex-end
                    padding-right 5%
                .link-nav
                    height 45px
                    width auto
                    display flex
                    align-items center
                    raleway(14, medium)
                    color $azul
                    transition .2s ease
                    +below($tablet)
                        height 30px
                    &:hover
                    &:focus 
                    &.active
                        color $laranja
                        font-weight 600
                .link-neolabx
                    font-weight bold
                    font-size 15px
                .link-contato
                    width 95px
                    height 45px
                    margin-left -10px
                    background-color $azul
                    raleway(14)
                    color #FFF
                    display flex
                    align-items center
                    justify-content center
                    transition .2s ease
                    +below($tablet)
                        width 100px
                        height 30px
                    &:hover
                    &:focus 
                    &.active
                        background-color $laranja
                .redes-sociais
                    margin-left 0
                    display flex
                    +below($tablet)
                        margin 10px 0
                    .facebook
                        width 16px
                        height 16px
                        background-image $img('ico-facebook.svg') 
                        background-position center
                        background-repeat no-repeat
                        transition background-image 0.5s ease-in-out;
                        &:hover
                            background-image $img('ico-facebook-laranja.svg') 
                    .linkedin
                        width 16px
                        height 16px
                        background-image $img('ico-linkedin.svg') 
                        background-position center
                        background-repeat no-repeat
                        margin-right 5px
                        transition background-image 0.5s ease-in-out;
                        &:hover
                            background-image $img('ico-linkedin-laranja.svg') 

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 40%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 5% 0 auto
    +mobile()
        margin 10px 5% 0 auto
        height 20%
    .lines
        display block
        width 100%
        height 4px
        background-color $azul
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color $azul
            transition .3s ease
            border-radius 3px
        &.internas
            background-color $azul
            &:before
            &:after
                background-color $azul
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            z-index 9999
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.floating-wpp
    float right
    position fixed !important
    right 30px !important
    bottom 60px !important
    z-index 999 !important
    &:before
        display block
        content ""
        width 12px
        height 12px
        background-color $laranja
        position absolute
        z-index 1
        border-radius 50%
        right 2px
        top 3px
        +below($tablet)
            width 10px
            height 10px
            top 0
.floating-wpp-popup.active
    width 360px !important
    bottom 70px !important
    right 0
    padding-bottom 0 !important
    +below($tablet)
        width 250px !important
        bottom 50px !important
    .close
        font-size 24px
        padding-top 0
        font-weight inherit
        +below($tablet)
            font-size 16px
.floating-wpp-button
    +below($tablet)
        width 40px !important
        height 40px !important
.floating-wpp-head
    padding 20px !important
    margin 0 -15px 20px -15px !important
    +below($tablet)
        padding 10px !important
        margin 0 -15px 10px -15px !important
    span
        display flex
        div.img-neovalor
            width 55px
            height 55px
            background-color #FFF
            border-radius 50%
            display flex
            align-items center
            justify-content center
            position relative
            +below($tablet)
                width 40px
                height 40px
            img
                width 35px
                +below($tablet)
                    width 25px
            &:before
                content ""
                bottom 2px
                right 2px
                width 10px
                height 10px
                box-sizing border-box
                background-color #99CC33
                display block
                position absolute
                z-index 1
                border-radius 50%
                +below($tablet)
                    bottom 0
        div.textos
            padding 5px 0 0 20px
            +below($tablet)
                padding 0 0 0 10px
            .titulo
                raleway(18)
                font-weight 600
                margin 0
                text-align start
                +below($tablet)
                    font-size 14px
            .frase
                raleway(12)
                margin 0
                text-align start
                +below($tablet)
                    font-size 10px
.floating-wpp-message
    raleway(14, medium)
    color $azul
    padding 20px 55px 20px 15px !important
    +below($tablet)
        padding 10px !important
        font-size 12px
.floating-wpp-input-message
    margin 20px -15px 0 -15px !important
    +below($tablet)
        margin 10px -15px 0 -15px !important
    textarea
        outline none
        raleway(14, medium)
        color $azul
        +below($tablet)
            font-size 10px
    .floating-wpp-btn-send:hover
        opacity 0.6

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        raleway(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 12px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        raleway(14)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid $laranja
            background-color $laranja
        +below($tablet)
            font-size 12px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px