desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #E02227
$verde = #2caf2c
$laranja = #F05236
$azul = #2A3F59

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Raleway:wght@100;400;700&display=swap');

exo($size, $weight = normal)
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == thin
        font-weight 100
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700
raleway($size, $weight = normal)
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == thin
        font-weight 100
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700