section.blog
    width 100%
    height auto
    margin 30px 0
    position relative
    .destaque
        width 100%
        height 450px
        background-color $azul
        position relative
        +below($tablet)
            height 350px
        +mobile()
            height auto
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            position relative
            display flex
            flex-direction row
            @media (max-width: 1350px) and (min-width: 1260px)
                width 90%
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                align-items center
            .categorias
                width 430px
                padding 45px 0
                display flex
                flex-direction column
                align-items flex-start
                position relative
                +below($tablet)
                    width 35%
                    padding 30px 0
                +mobile()
                    width 100%
                    padding 20px 0
                a.categoria
                    raleway(18)
                    color #FFF
                    margin 0 0 10px 0
                    line-height 1.2
                    transition .2s ease
                    +below($tablet)
                        font-size 16px
                    +mobile()
                        font-size 14px
                    .img-setinha
                        margin-right 10px
                    &:hover
                        color $laranja
            .artigo-destaque
                width 870px
                height 100%
                position relative
                +below($tablet)
                    width 65%
                +mobile()
                    width 100%
                    height 280px
                    margin-bottom 20px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
                .overlay-destaque
                    width 100%
                    height auto
                    background-color rgba(42, 63, 89, 0.5)
                    position absolute
                    bottom 0
                    left 0
                    padding 25px 45px 25px 30px
                    transition background 0.3s ease-in-out
                    +below($tablet)
                        padding 15px 30px 15px 20px
                    +mobile()
                        padding 15px 20px 15px 10px
                    .titulo
                        raleway(28, medium)
                        color #FFF
                        text-transform uppercase
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 22px
                        +mobile()
                            font-size 18px
                    .categoria
                        margin 0
                        raleway(16, bold)
                        color #FFF
                        text-transform uppercase
                        margin 0
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                    .data
                        raleway(12)
                        color #FFF
                        text-transform uppercase
                        margin 0
                        +below($tablet)
                            font-size 10px
                    .img-setinha
                        position absolute
                        right 20px
                        bottom 45%
                        transition transform 0.3s
                        +below($tablet)
                            right 15px
                        +mobile()
                            right 10px
                &:hover
                    .overlay-destaque
                        background-color rgba(240, 82, 54, 0.5)
                        .img-setinha
                            transform rotate(360deg) scale(1.3)
    .artigos
        width 1300px
        height auto
        margin 85px auto 65px auto
        display flex
        flex-wrap wrap
        justify-content space-between
        position relative
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
            margin 50px auto
        .artigo
            width 630px
            height auto
            margin-bottom 60px
            position relative
            @media (max-width: 1350px) and (min-width: 1260px)
                width 48.5%
            +below($tablet)
                width 48%
                margin-bottom 40px
            +mobile()
                width 100%
                margin-bottom 30px
            .img-capa
                width 100%
                height 325px
                object-fit cover
                +below($tablet)
                    height 240px
                +mobile()
                    height 200px
            .titulo
                raleway(24, medium)
                color $azul
                text-transform uppercase
                margin 20px 0 10px 0
                transition .2s ease
                +below($tablet)
                    font-size 18px
                    margin 15px 0 10px 0
                +mobile()
                    font-size 16px
                    margin 10px 0
            .categoria
                raleway(16, bold)
                color $azul
                text-transform uppercase
                margin 0
                transition .2s ease
                +below($tablet)
                    font-size 14px
                +mobile()
                    font-size 12px
            .data
                raleway(12)
                color $azul
                text-transform uppercase
                margin 0
                transition .2s ease
                +below($tablet)
                    font-size 10px
            .img-setinha
                position absolute
                right 20px
                bottom 55px
                transition transform 0.3s
                +below($tablet)
                    right 0
                    bottom 45px
            &:hover
                .titulo, .data, .categoria
                    color $laranja
                .img-setinha
                    transform rotate(360deg) scale(1.3)
    .btn-mais-artigos
        width 255px
        height 60px
        margin 0 auto 110px auto
        border 1px solid $laranja
        background-color #FFF
        raleway(16)
        color $laranja
        display flex
        align-items center
        justify-content center
        cursor pointer
        transition background 0.3s ease-in-out
        +below($tablet)
            width 20%
            height 45px
            margin 0 auto 80px auto
            font-size 14px
        +mobile()
            width 50%
        .img-setinha
            margin-left 10px
            +below($tablet)
                width 14px
        &:hover
            background-color $azul