section.blog-show
    width 100%
    height auto
    margin 30px 0
    position relative
    .destaque
        width 100%
        height 440px
        background-color $azul
        position relative
        +below($tablet)
            height 350px
        +mobile()
            height auto
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            position relative
            display flex
            flex-direction row
            @media (max-width: 1350px) and (min-width: 1260px)
                width 90%
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                align-items center
            .categorias
                width 445px
                padding 45px 0 30px 0
                display flex
                flex-direction column
                align-items flex-start
                position relative
                +below($tablet)
                    width 35%
                    padding 30px 0
                +mobile()
                    width 100%
                    padding 20px 0
                a.categoria
                    raleway(18)
                    color #FFF
                    margin 0 0 10px 0
                    line-height 1.2
                    transition .2s ease
                    +below($tablet)
                        font-size 16px
                    +mobile()
                        font-size 14px
                    .img-setinha
                        margin-right 10px
                    &:hover
                        color $laranja
                .btn-voltar-blog
                    width 250px
                    height 60px
                    margin auto auto 0 0
                    border 1px solid $laranja
                    background-color $azul
                    raleway(16)
                    color $laranja
                    display flex
                    align-items center
                    justify-content center
                    cursor pointer
                    transition background 0.3s ease-in-out
                    +below($tablet)
                        width 75%
                        height 45px
                        font-size 14px
                    +mobile()
                        width 55%
                        height 35px
                        font-size 12px
                        margin 0 0 0 auto
                    .img-voltar
                        transform rotate(180deg)
                        margin-right 10px
                        +below($tablet)
                            width 14px
                        +mobile()
                            margin-right 5px
                    &:hover
                        background-color #FFF
            .artigo-destaque
                width 855px
                height 100%
                position relative
                +below($tablet)
                    width 65%
                +mobile()
                    width 100%
                    height 280px
                    margin-bottom 20px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
                .overlay-destaque
                    width 100%
                    height auto
                    background-color rgba(42, 63, 89, 0.5)
                    position absolute
                    bottom 0
                    left 0
                    padding 25px 45px 25px 30px
                    transition background 0.3s ease-in-out
                    +below($tablet)
                        padding 15px 30px 15px 20px
                    +mobile()
                        padding 15px 20px 15px 10px
                    .titulo
                        raleway(28, medium)
                        color #FFF
                        text-transform uppercase
                        margin 0 0 5px 0
                        +below($tablet)
                            font-size 22px
                        +mobile()
                            font-size 18px
                    .categoria
                        margin 0
                        raleway(16, bold)
                        color #FFF
                        text-transform uppercase
                        margin 0
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 12px
                    .data
                        raleway(12)
                        color #FFF
                        text-transform uppercase
                        margin 0
                        +below($tablet)
                            font-size 10px
                    .img-setinha
                        position absolute
                        right 20px
                        bottom 45%
                        transition transform 0.3s
                        +below($tablet)
                            right 15px
                            bottom 35px
                        +mobile()
                            right 10px
                            bottom 10px
    .conteudo-artigo
        width 1300px
        height auto
        margin 0 auto
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
        .texto
            width 855px
            margin 0 0 0 auto
            padding 35px 50px 40px 30px
            raleway(16)
            color $azul
            @media (max-width: 1350px) and (min-width: 1260px)
                width 65%
            +below($tablet)
                width 65%
                font-size 14px
            +mobile()
                width 100%
                padding 20px
            > p
                margin 0 0 20px 0 !important
                line-height 1.8 !important
                +below($tablet)
                    margin 0 0 15px 0 !important
        .btn
            width 855px
            margin 25px 0 130px auto
            +below($tablet)
                width 65%
                margin 0 0 80px auto
            +mobile()
                width 100%
            .btn-voltar-blog
                width 250px
                height 60px
                margin 0 auto 0 30px
                border 1px solid $laranja
                background-color #FFF
                raleway(16)
                color $laranja
                display flex
                align-items center
                justify-content center
                cursor pointer
                transition background 0.3s ease-in-out
                +below($tablet)
                    width 40%
                    height 45px
                    font-size 14px
                +mobile()
                    width 60%
                    height 35px
                    font-size 12px
                    margin 0 auto
                .img-voltar
                    transform rotate(180deg)
                    margin-right 10px
                    +below($tablet)
                        width 14px
                    +mobile()
                        margin-right 5px
                &:hover
                    background-color $azul