section.clientes-e-projetos
    width 100%
    height auto
    margin 30px 0
    .parte-experiencias
        width 100%
        height auto
        background-color $azul
        position relative
        padding 35px 0 50px 0
        +below($tablet)
            padding 20px 0 35px 0
        .capa
            width 100%
            height 625px
            background-size cover
            background-position center
            background-repeat no-repeat
            position absolute
            top 0
            left 0
            +below($tablet)
                height 450px
            +mobile()
                height 350px
        .centralizado
            width 1300px
            margin 0 auto
            position relative
            @media (max-width: 1350px) and (min-width: 1260px)
                width 90%
            +below($tablet)
                width 90%
            .frase-inicial
                width 100%
                raleway(22, medium)
                color #FFF
                text-align center
                margin 10px 0 0 0
                +below($tablet)
                    font-size 18px
                +mobile()
                    font-size 16px
                    margin 0
            .contadores
                width 1120px
                margin 40px auto 20px auto
                display flex
                flex-direction row
                align-items flex-start
                justify-content space-between
                +below($tablet)
                    width 100%
                    margin 30px auto 20px auto
                +mobile()
                    flex-direction column
                    margin 20px auto
                .contador
                    width 150px
                    height auto
                    display flex
                    flex-direction column
                    align-items center
                    +below($tablet)
                        width 20%
                    +mobile()
                        flex-direction row
                        width 100%
                        height auto
                        margin-bottom 20px
                    .numero
                        width 70px
                        height 70px
                        exo(48, bold)
                        color #FFF
                        font-style italic
                        border 1px solid #FFF
                        display flex
                        align-items center
                        justify-content center
                        +below($tablet)
                            width 50px
                            height 50px
                            font-size 34px
                    .item
                        raleway(16, bold)
                        color #FFF
                        text-align center
                        text-transform uppercase
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            margin 0 0 0 15px
                            text-align start
            .grupos-experiencias
                width 1100px
                height auto
                margin 0 auto
                position relative
                +below($tablet)
                    width 100%
                .grupo
                    width 100%
                    border 1px solid $laranja
                    margin-bottom 20px
                    position relative
                    cursor pointer
                    +below($tablet)
                        margin-bottom 15px
                    .fechado
                        width 100%
                        height 110px
                        display flex
                        align-items center
                        padding 0 20px 0 75px
                        background-color #FFF
                        transition background .5s ease-in-out
                        position relative
                        +below($tablet)
                            padding 0 15px 0 50px
                        +mobile()
                            height 90px
                            padding 0 30px 0 10px
                        .icone
                            width 90px
                            height 90px
                            border-radius 50%
                            background-color $laranja
                            background-repeat no-repeat
                            background-position center
                            background-size 60%
                            transition background .5s ease-in-out
                            +below($tablet)
                                width 70px
                                height 70px
                            +mobile()
                                width 40px
                                height 40px
                        .titulo-grupo
                            exo(36, medium)
                            color $azul
                            margin 0 0 0 115px
                            +below($tablet)
                                font-size 28px
                                margin 0 0 0 75px
                            +mobile()
                                width calc("100% - 40px")
                                font-size 20px
                                margin 0 0 0 15px
                        span.mais
                            exo(46, thin)
                            color $laranja
                            position absolute
                            right 20px
                            +below($tablet)
                                font-size 36px
                            +mobile()
                                font-size 30px
                                right 10px
                    .aberto
                        display none
                    &:hover
                        .fechado
                            background-color $laranja
                            .icone
                                background-color $azul
                    &.active
                        .fechado
                            display none
                        .aberto
                            width 100%
                            height auto
                            display flex
                            flex-direction row
                            align-items flex-start
                            background-color #FFF
                            position relative
                            padding 25px 0
                            +mobile()
                                flex-direction column
                                align-items center
                                padding 20px 0
                            .icone
                                width 180px
                                height 180px
                                border-radius 50%
                                background-color $laranja
                                background-repeat no-repeat
                                background-position center
                                background-size 65%
                                margin 0 30px
                                +below($tablet)
                                    width 120px
                                    height 120px
                                +mobile()
                                    width 100px
                                    height 100px
                            .dados
                                width calc("100% - 180px - 60px")
                                padding 0 50px 0 10px
                                position relative
                                +below($tablet)
                                    width calc("100% - 120px - 60px")
                                +mobile()
                                    width 100%
                                    padding 0 15px
                                .titulo-grupo
                                    exo(36, medium)
                                    color $azul
                                    line-height 1.4
                                    margin 0 0 30px 25px
                                    +below($tablet)
                                        font-size 28px
                                        margin 0 0 15px 20px
                                    +mobile()
                                        font-size 20px
                                        margin 15px
                                a.fechar
                                    raleway(24)
                                    color $laranja
                                    line-height 0.5
                                    position absolute
                                    top 0
                                    right 20px
                                    cursor pointer
                                    +below($tablet)
                                        font-size 18px
                                    +mobile()
                                        font-size 16px
                                        top -100px
                                        right 10px
                                .experiencias
                                    display flex
                                    flex-direction column
                                    align-items flex-start
                                    .experiencia
                                        width 100%
                                        border-top 1px solid $laranja
                                        background-color #FFF
                                        padding 15px 80px 25px 25px
                                        +below($tablet)
                                            padding 15px 50px 20px 20px
                                        +mobile()
                                            padding 15px
                                        .periodo
                                            raleway(14)
                                            font-weight 600
                                            color $azul
                                            margin 0
                                            +below($tablet)
                                                font-size 12px
                                        h4.titulo
                                            raleway(18)
                                            font-weight 600
                                            color $azul
                                            margin 0 0 15px 0
                                            +below($tablet)
                                                font-size 16px
                                            +mobile()
                                                font-size 14px
                                        .texto
                                            raleway(16)
                                            color $azul
                                            +below($tablet)
                                                font-size 14px
                                            +mobile()
                                                font-size 12px
                                            > p
                                                margin 0 0 15px 0
                :nth-child(1n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-experienciaempreendedora.svg")
                :nth-child(2n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-gestaopj.svg")
                :nth-child(3n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-elaboracaoplanosnegocios.svg")
                            background-size 50% !important
                :nth-child(4n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-projetosconsultoriaempresarial.svg")
                :nth-child(5n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-projetosliderarmudancas.svg")
                :nth-child(6n)
                    .fechado, .aberto
                        .icone
                            background-image $img("ico-mentoring.svg")
    .parte-treinamentos
        width 1300px
        height auto
        margin 80px auto 100px auto
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
            margin 50px auto 80px auto
        h2.titulo
            raleway(36, medium)
            color $laranja
            text-align center
            margin 0 0 5px 0
            +below($tablet)
                font-size 28px
            +mobile()
                font-size 24px
        .texto-treinamentos
            width 75%
            margin 0 auto 30px auto
            raleway(16)
            color $azul
            text-align center
            +below($tablet)
                font-size 14px
                margin 0 auto 20px auto
            +mobile()
                width 100%
                font-size 12px
            > p
                margin 0 0 15px 0
        .treinamentos
            width 100%
            height auto
            display flex
            flex-wrap wrap
            justify-content flex-start
            +mobile()
                flex-direction column
                align-items center
            .treinamento
                width 420px
                height 110px
                border 1px solid $laranja
                margin-bottom 20px
                margin-right 20px
                padding 10px
                display flex
                @media (max-width: 1350px) and (min-width: 1260px)
                    width 31.5%
                    height 150px
                +below($tablet)
                    width 31.5%
                    height 100px
                    margin 0 15px 15px 0
                +mobile()
                    width 100%
                    margin 0 0 15px 0
                .img-treinamento
                    width 120px
                    height 100%
                    padding 10px
                    border 1px solid #E6E6E6
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 90px
                        padding 5px
                    .logo
                        max-width 100%
                        max-height 100%
                        object-fit cover
                .dados-treinamento
                    width calc("100% - 120px - 10px")
                    height 100%
                    padding 5px 0 0 20px
                    +below($tablet)
                        width calc("100% - 100px")
                        padding 5px 0 0 15px
                    .empresa
                        raleway(14)
                        font-weight 600
                        color $azul
                        text-transform uppercase
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 12px
                    .ano-tipo, .titulo-treinamento, .consultor
                        raleway(12)
                        color $azul
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 10px
