section.consultoria
    width 100%
    height auto
    background-color #fff
    padding 30px 0
    position relative
    .apresentacao
        width 100%
        .capa-consultoria
            width 100%
            height 515px
            object-fit cover
            +below($tablet)
                height 400px
            +mobile()
                height 310px
        .centralizado
            width 1300px
            margin 0 calc("(100% - 1300px) / 2")
            position absolute
            top 70px
            @media (max-width: 1350px) and (min-width: 1260px)
                width 90%
                margin 0 5%
            +below($tablet)
                width 90%
                margin 0 5%
                top 40px
            +mobile()
                top 30px
            .titulo
                width 45%
                raleway(36, medium)
                color #FFF
                text-transform uppercase
                margin 50px 0 25px 0
                +below($tablet)
                    font-size 28px
                    margin 40px 0 20px 0
                +mobile()
                    width 100%
                    font-size 24px
                    margin 30px 0 15px 0
            .texto
                width 45%
                raleway(18, medium)
                color #FFF
                @media (max-width: 1350px) and (min-width: 1260px)
                    width 45%
                +below($tablet)
                    font-size 14px
                +mobile()
                    width 100%
                    font-size 12px
                > p 
                    margin 0 0 15px 0
                    line-height 1.7
            .caixa-beneficios
                width 650px
                height auto
                max-height 300px
                background-color $azul
                position relative
                float right 
                margin-top -130px
                padding 30px 45px
                @media (max-width: 1350px) and (min-width: 1260px)
                    width 55%
                +below($tablet)
                    width 50%
                    margin-top -160px
                    padding 20px 30px
                +mobile()
                    width 90%
                    margin 0 5%
                    height auto
                    max-height 260px
                    padding 15px 20px
                .titulo
                    raleway(24)
                    color $laranja
                    margin 0 0 15px 0
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 18px
                .texto-beneficios
                    raleway(16)
                    color #FFF
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
                    > p
                        margin 0 0 15px 0
                        line-height 1.7
                    > ul 
                        list-style disc
                        list-style-position outside
                        margin 0 0 0 20px
                        padding-left 0
                        line-height 1.7
                        li
                            line-height 1.7
                            margin 0 0 15px 0
    .projetos
        width 1100px
        margin 150px auto 50px auto
        +below($tablet)
            width 90%
            margin 100px auto 50px auto
        +mobile()
            margin 270px auto 50px auto
        .titulo
            width 100%
            raleway(36, medium)
            color $laranja
            text-align center
            margin 0 0 55px 0
            +below($tablet)
                font-size 28px
                margin 0 0 40px 0
            +mobile()
                font-size 24px
                margin 0 0 25px 0
        .itens-projetos
            width 100%
            height auto
            display flex
            flex-wrap wrap
            justify-content flex-start
            +mobile()
                flex-direction column
            .projeto
                width 340px
                height 280px
                margin-bottom 40px
                margin-right 40px
                cursor pointer
                outline none
                border 1px solid $laranja
                position relative
                transition border .3s linear
                +below($tablet)
                    width 31.5%
                    margin-bottom 20px
                    margin-right 20px
                +mobile()
                    width 100%
                    margin 0 0 15px 0
                .frente
                    width 100%
                    height 100%
                    background-color #FFF
                    display flex
                    flex-direction column
                    align-items center
                    justify-content flex-start
                    padding 30px 35px 20px 35px
                    position absolute
                    visibility visible
                    +below($tablet)
                        padding 30px 20px 20px 20px
                    .icone
                        max-width 100px
                        height 100px
                        margin-bottom 15px
                        background-color transparent
                        +mobile()
                            max-width 80px
                            height 80px
                        .img-icone
                            width 100%
                            height 100%
                            background-position center
                            background-size contain
                            background-color transparent
                    .titulo-novidade
                        exo(18, bold)
                        color $laranja
                        text-align center
                        margin 5px 0 0 0
                        line-height 1.2
                        transition .3s linear
                        +below($tablet)
                            font-size 16px
                        +mobile()
                            font-size 14px
                            margin 15px 10px 0 10px
                    .titulo-projeto
                        exo(24, bold)
                        color $azul
                        text-align center
                        margin 5px 0 0 0
                        line-height 1.2
                        transition .3s linear
                        +below($tablet)
                            font-size 20px
                        +mobile()
                            font-size 18px
                            margin 15px 25px 0 25px
                    .img-setinha
                        position absolute
                        bottom 20px
                        transition transform .3s
                .novidade
                    background-color #EDF0F2
                .verso
                    visibility hidden
                    opacity 0
                    transition visibility .8s linear, opacity .8s linear
                    .titulo-projeto
                        visibility hidden
                        opacity 0
                    .texto
                        visibility hidden
                        opacity 0
                    .img-setinha
                        visibility hidden
                        opacity 0
                &.active
                    .frente
                        visibility hidden
                    .verso
                        visibility visible
                        opacity 1
                        width 100%
                        height 100%
                        background-color $laranja
                        display flex
                        flex-direction column
                        align-items center
                        justify-content flex-start
                        padding 25px 20px 20px 15px
                        position absolute
                        +below($tablet)
                            padding 20px 15px
                        .titulo-projeto
                            visibility visible
                            opacity 1
                            exo(16, bold)
                            color #FFF
                            text-align center
                            margin 0 40px 18px 40px
                            line-height 1.3
                            +below($tablet)
                                margin 0 20px 15px 20px
                        .texto
                            visibility visible
                            opacity 1
                            raleway(12)
                            color #FFF
                            +mobile()
                                font-size 11px
                                width 100%
                            > ul 
                                list-style disc
                                list-style-position outside
                                margin 0 0 0 20px
                                padding-left 0
                                line-height 1.5
                                li
                                    line-height 1.5
                                    margin 0
                        .img-setinha
                            visibility visible
                            opacity 1
                            position absolute
                            bottom 20px
                            transform rotate(180deg)
                            transition transform .3s
                &:hover
                    border 1px solid $azul
                    .frente
                        .titulo-novidade
                            color $azul
                        .titulo-projeto
                            color $laranja
                        .img-setinha
                            transform rotate(360deg) scale(1.3)
                    .verso
                        .img-setinha
                            transform rotate(540deg) scale(1.3)
    .informacoes-extras
        width 800px
        margin 10px auto 60px auto
        +below($tablet)
            width 70%
            margin 0 auto 50px auto
        +mobile()
            width 80%
        .informacao
            width 100%
            height auto
            .titulo
                exo(24, bold)
                color #FFF
                margin 0 0 5px 0
                width 100%
                height 50px
                background-color $laranja
                display flex
                align-items center
                justify-content center
                transition background .5s ease-in-out
                +below($tablet)
                    font-size 20px
                    height 40px
                +mobile()
                    font-size 18px
                    text-align center
                    padding 0 10px
            .texto
                display none
                width 100%
                height auto
                raleway(16)
                color $azul
                padding 30px 50px 80px 50px
                +below($tablet)
                    font-size 14px
                    padding 20px 35px 50px 35px
                +mobile()
                    font-size 12px
                    padding 15px 15px 30px 15px
                > p
                    margin 0 0 20px 0
                    line-height 1.4
                    > img
                        margin 15px 0
                    +below($tablet)
                        margin 0 0 15px 0
                > ul 
                    list-style disc
                    list-style-position outside
                    margin 0 0 20px 20px
                    padding-left 0
                    line-height 1.4
                    li
                        line-height 1.4
                        margin 0 0 15px 0
            &:hover
            &.active
                .titulo
                    background-color $azul
            &.active
                .texto
                    display block
