section.contato
    width 100%
    height 560px
    margin 30px 0 50px 0
    position relative
    background-image $img("bg-contato.jpg")
    background-repeat no-repeat
    background-position center
    background-size cover
    +below($tablet)
        height 400px
    +mobile()
        height auto
    .centralizado
        width 1300px
        height 100%
        margin 0 auto
        padding 35px 0
        position relative
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
            padding 30px 0
        .dados
            width 900px
            height 100%
            margin 0 0 0 auto
            display flex
            flex-direction column
            align-items flex-start
            +below($tablet)
                width 75%
            +mobile()
                width 100%
            .whatsapp-atendimento
                width 350px
                height 90px
                background-color $laranja
                padding 10px 20px
                display flex
                align-items center
                border 1px solid $laranja
                transition background .5s ease-in-out
                +below($tablet)
                    width 300px
                    height 75px
                +mobile()
                    width 100%
                .textos
                    margin-left 15px
                    .telefone
                        exo(24)
                        font-weight 600
                        color #FFF
                        margin 0
                        transition 0.2s ease
                        +below($tablet)
                            font-size 20px
                    .atendimento
                        raleway(16)
                        color #FFF
                        margin 0
                        transition 0.2s ease
                        +below($tablet)
                            font-size 12px
                &:hover
                    border 1px solid $laranja
                    background-color #FFF
                    .textos
                        .telefone, .atendimento
                            color $laranja
            .form-infos
                width 100%
                margin 40px 0 0 0
                display flex
                flex-direction row
                align-items flex-start
                justify-content space-between
                +below($tablet)
                    margin 25px 0 0 0
                +mobile()
                    flex-direction column
                form.form-contato
                    width 500px
                    display flex
                    flex-direction column
                    +below($tablet)
                        width 60%
                    +mobile()
                        width 100%
                    input[type=text]
                    input[type=email]
                        width 100%
                        height 45px
                        outline 0
                        border 0
                        padding 0 20px
                        margin-bottom 5px
                        background-color #FFF
                        border none
                        border-radius 0
                        raleway(16)
                        color $azul
                        transition 0.2s ease
                        +below($tablet)
                            height 30px
                            font-size 14px
                            padding 0 15px
                            margin-bottom 4px
                        +placeholder()
                            raleway(16)
                            color $azul
                            transition 0.2s ease
                            +below($tablet)
                                font-size 14px
                        &:hover
                        &:focus
                            font-weight 600
                            +placeholder()
                                font-weight 600
                    textarea
                        width 100%
                        height 150px
                        background-color #FFF
                        outline 0
                        border 0
                        padding 15px 20px
                        resize none
                        margin 0
                        raleway(16)
                        color $azul
                        transition 0.2s ease
                        +below($tablet)
                            height 100px
                            padding 10px 15px
                            font-size 14px
                        +placeholder()
                            raleway(16)
                            color $azul
                            transition 0.2s ease
                            +below($tablet)
                                font-size 14px
                        &:hover
                        &:focus
                            font-weight 600
                            +placeholder()
                                font-weight 600
                    button[type=submit]
                        width 100%
                        height 45px
                        border-radius 0
                        border 1px solid $laranja
                        background-color $azul
                        outline 0
                        cursor pointer
                        margin-top 10px
                        raleway(16, medium)
                        color $laranja
                        transition background 0.3s ease-in-out
                        transition 0.3s ease-in-out
                        +below($tablet)
                            height 30px
                            font-size 14px
                            margin-top 8px
                        &:hover
                            background-color $laranja
                            boder 1px solid $azul
                            color $azul
                .infos
                    width 300px
                    border-top 2px solid $laranja
                    padding 25px 20px
                    +below($tablet)
                        width 35%
                        padding 20px
                    +mobile()
                        width 100%
                        margin-top 40px
                    .tipo-trabalho
                        raleway(14)
                        color #FFF
                        text-transform uppercase
                        line-height 1.4
                        margin 0
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            text-align center
                    .endereco, .bairro, .cidade
                        raleway(14)
                        color #FFF
                        line-height 1.4
                        margin 0
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            text-align center
                    clearfix()
                    .flash
                        display flex
                        align-items center
                        justify-content center
                        position relative
                        margin 50px 0 0 0
                        height auto
                        width 100%
                        raleway(14)
                        color #FFF
                        padding 10px
                        border-radius 0
                        text-align center
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            margin 30px 0 0 0
                        &.flash-erro
                            border none
                            background $vermelho
                            color #fff
                        &.flash-sucesso
                            border none
                            background $verde
                            color #fff
            
