section.curriculo
    width 1300px
    margin 30px auto 90px auto
    background-color #fff
    display flex
    flex-direction row
    align-items flex-start
    @media (max-width: 1350px) and (min-width: 1260px)
        width 90%
    +below($tablet)
        width 90%
    +mobile()
        flex-direction column
        align-items center
    .foto
        width 330px
        height 330px
        border 1px solid $laranja
        +below($tablet)
            width 250px
            height 250px
        .img-foto
            width 100%
            height 100%
            object-fit cover
    .dados
        width calc("100% - 330px")
        padding 0 20% 0 60px
        +below($tablet)
            width calc("100% - 250px")
            padding 0 5% 0 40px
        +mobile()
            width 100%
            padding 20px 0
        .nome
            exo(24, bold)
            color $azul
            margin 0 0 15px 0
            +below($tablet)
                font-size 20px
            +mobile()
                text-align center
        .titulo
            raleway(16)
            color $azul
            font-style italic
            margin 0 0 15px 0
            +below($tablet)
                font-size 14px
            +mobile()
                text-align center
        .texto
            raleway(16)
            color $azul
            +below($tablet)
                font-size 14px
            > p
                margin 0 0 15px 0
                line-height 1.7
        .link-voltar
            width 100%
            margin 25px 0
            display flex
            align-items center
            justify-content flex-start
            raleway(12, bold)
            color $laranja
            transition .2s ease
            .img-setinha
                transform rotate(180deg)
                width 12px
                margin-right 5px
                transition transform 0.2s
            &:hover
                color $azul
                .img-setinha
                    transform rotate(540deg) scale(1.3)