section.home
    width 100%
    height auto
    background-color #fff
    .banners
        width 100%
        height 500px
        position relative
        +below($tablet)
            height 400px
        +mobile()
            height 300px
        .banner
            width 100%
            height 100%
            top 0
            left 0
            cursor pointer
            .img-banner
                width 100%
                height 100%
                background-size cover
                background-position center
                object-fit cover
            .overlay-marca
                position absolute
                left 15px
                z-index 100
                +below($tablet)
                    height 100%
                +mobile()
                    max-width 100%
                    left 0
                    object-fit cover
            .overlay-textos
                width 1300px
                margin 0 auto
                position relative
                z-index 101
                top -78%
                padding-right 150px
                @media (max-width: 1350px) and (min-width: 1260px)
                    width 90%
                +below($tablet)
                    width 90%
                +mobile()
                    top -85%
                    padding-right 50px
                .titulo
                    exo(48, bold)
                    color #FFF
                    font-style italic
                    margin 0
                    text-shadow #313F48 -2px 2px 1px
                    +below($tablet)
                        font-size 36px
                    +mobile()
                        font-size 26px
                .frase
                    exo(24)
                    color #FFF
                    font-style italic
                    margin 10px 0 0 0
                    text-shadow #313F48 -1px 1px 0px
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 16px
        .cycle-pager 
            display none
            flex-direction column
            align-items center
            position absolute
            bottom 58%
            right calc("(100% - 1300px) / 2")
            z-index 500
            padding 0
            background transparent
            margin 0 auto
            @media (max-width: 1350px) and (min-width: 1260px)
                right 5%
            +below($tablet)
                right 5%
            +mobile()
                display flex
                bottom 50%
            span 
                height 13px
                width 13px
                border-radius 50%
                float left
                color transparent
                transition-property background-color
                transition-duration 300
                border 1px solid #FFF
                cursor pointer
                margin 3px 0
                +below($tablet)
                    width 11px
                    height 11px
        .cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
            background $laranja
    .apresentacao
        width 100%
        height 360px
        background-color $azul
        position relative
        transition background 0.5s ease-in-out
        +mobile()
            height auto
        .centralizado
            width 1100px
            height 100%
            margin 0 auto
            display flex
            flex-direction row
            align-items flex-start
            justify-content space-between
            position relative
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                align-items center
            .texto
                width calc("1100px - 330px")
                padding 50px 75px 50px 0
                raleway(16)
                color #FFF
                +below($tablet)
                    width calc("100% - 300px")
                    font-size 14px
                    padding 35px 65px 35px 0
                +mobile()
                    width 100%
                    padding 30px 0 10px 0
                > p
                    margin 0 0 20px 0
                    line-height 1.7
                    +below($tablet)
                        margin 0 0 15px 0
            .foto
                width 330px
                height 100%
                border 1px solid $laranja
                +below($tablet)
                    width 300px
                +mobile()
                    width 200px
                    height 200px
                    margin-bottom 30px
                .img-foto
                    width 100%
                    height 100%
                    object-fit cover
        &:hover
            background-color $laranja
    .caixas-home
        width 1100px
        margin 70px auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        +below($tablet)
            width 90%
            margin 50px auto
        +mobile()
            flex-direction column
            align-items center
            margin 50px auto 30px auto
        .caixa1, .caixa2, .caixa3
            width 340px
            height 340px
            border 1px solid $laranja
            display flex
            flex-direction column
            align-items center
            justify-content space-between
            padding 40px 40px 20px 40px
            transition background .5s ease-in-out
            +below($tablet)
                width 30%
                height 280px
                padding 20px
            +mobile()
                width 80%
                height 250px
                margin-bottom 20px
            .img-icone
                width 90px
                height 90px
                transition background 0.3s ease-in-out
                +below($tablet)
                    width 70px
                    height 70px
            .frase
                exo(22, bold)
                color $azul
                font-style italic
                text-align center
                line-height 1.2
                transition .2s ease
                +below($tablet)
                    font-size 18px
                +mobile()
                    font-size 16px
            .img-seta
                width 20px
                height 20px
                background $img("setinha-fina.svg") no-repeat
                transition background 0.3s ease-in-out
                +below($tablet)
                    width 15px
                    height 15px
                    background-size contain 
            &:hover
                background-color $laranja
                .frase
                    color #FFF
                .img-seta
                    background $img("setinha-fina-branco.svg") no-repeat
                    +below($tablet)
                        background-size contain
        .caixa1
            .img-icone
                background $img("ico-conhecamais.svg") no-repeat center
                +below($tablet)
                    background-size contain
            &:hover
                .img-icone
                    background $img("ico-conhecamais-branco.svg") no-repeat center
                    +below($tablet)
                        background-size contain
        .caixa2
            .img-icone
                background $img("ico-desenvolvoprojetos.svg") no-repeat center
                +below($tablet)
                    background-size contain
            &:hover
                .img-icone
                    background $img("ico-desenvolvoprojetos-branco.svg") no-repeat center
                    +below($tablet)
                        background-size contain
        .caixa3
            .img-icone
                background $img("ico-atravesimersoes.svg") no-repeat center
                +below($tablet)
                    background-size contain
            &:hover
                .img-icone
                    background $img('ico-atravesimersoes-branco.svg') no-repeat center
                    +below($tablet)
                        background-size contain
    
    .clientes-e-projetos
        width 100%
        height 700px
        position relative
        +below($tablet)
            height 600px
        +mobile()
            height 1000px
        .bg-clientes-e-projetos
            width 100%
            height 100%
            object-fit cover
            z-index 1
            position relative
        .centralizado
            width 1100px
            height 100%
            margin 50px calc("(100% - 1100px) / 2")
            display flex
            flex-direction column
            align-items center
            position absolute
            top 0
            z-index 2
            +below($tablet)
                width 90%
                margin 50px 5% 0 5%
            h2.titulo
                width 100%
                exo(36, bold)
                color #FFF
                text-align center
                font-style italic
                margin 15px 0 45px 0
                +below($tablet)
                    font-size 30px
                    margin 0 0 35px 0
                +mobile()
                    font-size 24px
                    margin 0 0 30px 0
            div.texto
                width 75%
                raleway(20)
                color #FFF
                text-align center
                +below($tablet)
                    font-size 16px
                +mobile()
                    width 100%
                    font-size 14px
                > p
                    margin 0 0 20px 0
                    line-height 1.7
                    +below($tablet)
                        margin 0 0 15px 0
            .link-saber-mais
                width 300px
                exo(18, bold)
                color #FFF
                display flex
                align-items center
                justify-content center
                padding 10px 0
                border-top 1px solid #FFF
                margin 10px 0 0 0
                background-image $img("setinha-fina-branco.svg")
                background-repeat no-repeat
                background-position 70% 55%
                background-size 14px
                transition .2s ease
                +below($tablet)
                    width 30%
                    font-size 16px
                +mobile()
                    width 50%
                    font-size 14px
                    background-position 80% 55%
                    background-size 12px
                &:hover
                    color $azul
                    background-image $img("setinha-fina-azul.svg")
                    border-bottom 1px solid #FFF
            .contadores
                width 100%
                margin-top 50px
                display flex
                flex-direction row
                align-items flex-start
                justify-content space-between
                +mobile()
                    margin-top 30px
                    flex-direction column
                .contador
                    width 155px
                    height 180px
                    display flex
                    flex-direction column
                    align-items center
                    +below($tablet)
                        width 18%
                        height 160px
                    +mobile()
                        flex-direction row
                        width 100%
                        height auto
                        margin-bottom 20px
                    .numero
                        width 70px
                        height 70px
                        exo(48, bold)
                        color #FFF
                        font-style italic
                        border 1px solid #FFF
                        display flex
                        align-items center
                        justify-content center
                        +below($tablet)
                            width 60px
                            height 60px
                            font-size 36px
                    .item
                        raleway(16, bold)
                        color #FFF
                        text-align center
                        text-transform uppercase
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            margin 0 0 0 15px
                            text-align start
    .artigos
        width 1220px
        margin 50px auto 100px auto
        display flex
        flex-wrap wrap
        justify-content space-between
        +below($tablet)
            width 90%
        .titulo
            width 100%
            exo(36, medium)
            color $azul
            text-align center
            font-style italic
            margin 10px 0 35px 0
            +below($tablet)
                font-size 32px
                margin 0 0 30px 0
            +mobile()
                font-size 28px
        .artigo-destaque
            width 100%
            height 390px
            background-color $azul
            display flex
            flex-direction row
            align-items flex-start
            margin-bottom 30px
            cursor pointer
            transition background 0.5s ease-in-out
            +below($tablet)
                height 300px
                margin-bottom 20px
            +mobile()
                flex-direction column
                height 400px
            .capa
                width 600px
                height 370px
                margin 10px
                border 1px solid $laranja
                +below($tablet)
                    width 45%
                    height 280px
                +mobile()
                    width calc("100% - 20px")
                    height 170px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
            .dados
                width 620px
                height 100%
                padding 35px 35px 40px 50px
                display flex
                flex-direction column
                justify-content space-between
                +below($tablet)
                    width 55%
                    padding 30px 30px 30px 40px
                +mobile()
                    width 100%
                    padding 10px 20px 
                .ultimas
                    raleway(24, medium)
                    color $laranja
                    margin 0 0 7px 0
                    transition .2s ease
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 16px
                .categoria-consultor
                    display flex
                    align-items center
                    .categoria
                        raleway(14)
                        font-weight 600
                        color $laranja
                        text-transform uppercase
                        margin 0 5px 0 0 
                        transition .2s ease
                    .autor
                        raleway(12)
                        font-weight 600
                        color $laranja
                        margin 0
                        transition .2s ease
                .titulo-artigo
                    exo(32, bold)
                    color #FFF
                    margin 15px 0
                    line-height 1.3
                    +below($tablet)
                        font-size 28px
                    +mobile()
                        font-size 22px
                .link-saber-mais
                    raleway(12)
                    font-weight 600
                    color #FFF
                    margin 0 0 0 auto
                    .img-setinha
                        width 11px
                        margin-left 5px
            &:hover
                background-color $laranja
                .ultimas
                    color $azul
                .categoria-consultor
                    .categoria, .autor
                        color $azul
        .artigo
            width 380px
            height 440px
            background-color $azul
            display flex
            flex-direction column
            align-items center
            margin-bottom 30px
            cursor pointer
            transition background 0.5s ease-in-out
            +below($tablet)
                width 31.5%
                height 370px
                margin-bottom 20px
            +mobile()
                width 100%
                height 380px
            .capa
                width 360px
                height 220px
                margin 10px 10px 0 10px
                border 1px solid $laranja
                +below($tablet)
                    width calc("100% - 20px")
                    height 180px
                +mobile()
                    width calc("100% - 20px")
                    height 170px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
            .dados
                width 100%
                height 210px
                padding 25px 28px 18px 30px
                display flex
                flex-direction column
                justify-content space-between
                +below($tablet)
                    padding 15px 20px
                    height 180px
                +mobile()
                    width 100%
                    height 200px
                    padding 20px 20px 10px 20px
                .categoria-consultor
                    display flex
                    align-items center
                    .categoria
                        raleway(14)
                        font-weight 600
                        color $laranja
                        text-transform uppercase
                        margin 0 5px 0 0 
                        transition .2s ease
                    .autor
                        raleway(12)
                        font-weight 600
                        color $laranja
                        margin 0
                        transition .2s ease
                .titulo-artigo
                    exo(22, bold)
                    color #FFF
                    margin 10px 0
                    line-height 1.2
                    +below($tablet)
                        font-size 18px
                .link-saber-mais
                    raleway(12)
                    font-weight 600
                    color #FFF
                    margin 0 0 0 auto
                    .img-setinha
                        width 11px
                        margin-left 5px    
            &:hover
                background-color $laranja
                .categoria-consultor
                    .categoria, .autor
                        color $azul