section.imersao
    width 100%
    height auto
    margin 30px 0
    .apresentacao
        width 100%
        height auto
        background-repeat no-repeat
        background-size cover
        background-position center
        position relative
        .centralizado
            width 1300px
            height auto
            margin 0 calc("(100% - 1300px) / 2")
            position relative
            padding 40px 0
            @media (max-width: 1350px) and (min-width: 1260px)
                width 90%
                margin 0 5%
            +below($tablet)
                width 90%
                margin 0 5%
            +mobile()
                top 0
            .titulo
                width 45%
                raleway(36, medium)
                color #FFF
                text-transform uppercase
                margin 40px 0 25px 0
                +below($tablet)
                    font-size 28px
                    margin 0 0 20px 0
                +mobile()
                    width 100%
                    font-size 24px
                    margin 0 0 15px 0
            .texto
                width 45%
                raleway(18, medium)
                color #FFF
                +below($tablet)
                    font-size 14px
                +mobile()
                    width 100%
                    font-size 12px
                > p 
                    margin 0 0 15px 0
                    line-height 1.7
            .caixa-diferenciais
                width 650px
                height auto
                max-height 440px
                background-color $laranja
                position absolute
                right 0
                margin-top -240px
                padding 30px 45px
                @media (max-width: 1350px) and (min-width: 1260px)
                    width 54%
                +below($tablet)
                    width 50%
                    margin-top -200px
                    padding 20px 30px
                +mobile()
                    width 90%
                    margin 0 5%
                    height auto
                    max-height 330px
                    padding 15px 20px
                    bottom -280px
                .titulo
                    raleway(24)
                    color $azul
                    margin 0 0 15px 0
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 18px
                .texto-diferenciais
                    raleway(16)
                    color #FFF
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
                    > p
                        margin 0 0 15px 0
                        line-height 1.7
                    > ul 
                        list-style disc
                        list-style-position outside
                        margin 0 0 0 20px
                        padding-left 0
                        line-height 1.7
                        li
                            line-height 1.7
                            margin 0 0 15px 0
    .imersoes
        width 1100px
        margin 200px auto 50px auto
        height auto
        display flex
        flex-wrap wrap
        justify-content space-between
        +below($tablet)
            width 90%
        +mobile()
            margin 300px auto 50px auto
        .imersao
            width 530px
            height 280px
            margin-bottom 40px
            cursor pointer
            outline none
            position relative
            border 1px solid $laranja
            transition border .3s linear
            +below($tablet)
                width 49%
                height 240px
                margin-bottom 20px
            +mobile()
                width 100%
                height 270px
                margin-bottom 15px
            .frente
                width 100%
                height 100%
                background-color #FFF
                display flex
                flex-direction row
                align-items flex-start
                padding 20px
                position absolute
                visibility visible
                +below($tablet)
                    padding 10px
                +mobile()
                    flex-direction column
                    align-items center
                .img-imersao
                    width 240px
                    height 240px
                    object-fit cover
                    +below($tablet)
                        width 220px
                        height 220px
                    +mobile()
                        width 160px
                        height 160px
                .titulo-imersao
                    exo(24, bold)
                    color $azul
                    text-align start
                    margin 50px 10px 0 20px
                    line-height 1.2
                    transition .3s linear
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 16px
                        margin 20px 10px 0 10px
                        text-align center
                .img-setinha
                    position absolute
                    bottom 20px
                    right 20px
                    transition transform .3s
                    +below($tablet)
                        bottom 15px
                        right 15px
            .verso
                visibility hidden
                opacity 0
                transition visibility .5s linear, opacity .5s linear
                .topo
                    visibility hidden
                    opacity 0
                .texto
                    visibility hidden
                    opacity 0
            &.active
                .frente
                    visibility hidden
                .verso
                    visibility visible
                    opacity 1
                    width 100%
                    height 100%
                    background-color $laranja
                    display flex
                    flex-direction column
                    align-items flex-start
                    padding 20px
                    position absolute
                    +below($tablet)
                        padding 15px
                    .topo
                        visibility visible
                        opacity 1
                        display flex
                        align-items center
                        .img-imersao
                            width 50px
                            height 50px
                            object-fit cover
                            +below($tablet)
                                width 40px
                                height 40px
                            +mobile()
                                display none
                        .titulo-imersao
                            exo(18, bold)
                            color #FFF
                            text-align start
                            margin 0 20px
                            line-height 1.3
                            +below($tablet)
                                font-size 16px
                                margin 0 15px
                            +mobile()
                                font-size 14px
                                margin 0 0 5px 0
                    .texto
                        visibility visible
                        opacity 1
                        margin-top 15px
                        raleway(14)
                        color #FFF
                        animation go-back .8s alternate
                        +below($tablet)
                            font-size 12px
                            margin-top 15px
                        > p
                            margin 0 0 5px 0
                            line-height 1.5
                        > ul 
                            list-style disc
                            list-style-position outside
                            margin 0 0 0 15px
                            padding-left 0
                            line-height 1.3
                            li
                                line-height 1.3
                                margin 0
                    .img-setinha
                        position absolute
                        bottom 20px
                        right 20px
                        transform rotate(180deg)
                        transition transform .3s
                        +below($tablet)
                            bottom 15px
                            right 15px
            &:hover
                border 1px solid $azul
                .frente
                    .titulo-imersao
                        color $laranja
                    .img-setinha
                        transform rotate(360deg) scale(1.3)
                .verso
                    .img-setinha
                        transform rotate(540deg) scale(1.3)
    .informacoes-extras
        width 800px
        margin 10px auto 60px auto
        +below($tablet)
            width 70%
            margin 0 auto 50px auto
        +mobile()
            width 80%
            margin 0 auto 80px auto
        .informacao
            width 100%
            height auto
            .titulo
                exo(24, bold)
                color #FFF
                margin 0 0 5px 0
                width 100%
                height 50px
                background-color $laranja
                display flex
                align-items center
                justify-content center
                transition background .5s ease-in-out
                +below($tablet)
                    font-size 20px
                    height 40px
                +mobile()
                    font-size 18px
            .texto
                display none
                width 100%
                height auto
                raleway(16)
                color $azul
                padding 30px 50px 80px 50px
                +below($tablet)
                    font-size 14px
                    padding 20px 35px 50px 35px
                +mobile()
                    font-size 12px
                    padding 15px 15px 30px 15px
                > p
                    margin 0 0 20px 0
                    line-height 1.4
                    > img
                        margin 15px 0
                    +below($tablet)
                        margin 0 0 15px 0
                > ul
                    list-style disc
                    list-style-position outside
                    margin 0 0 20px 20px
                    padding-left 0
                    line-height 1.4
                    li
                        line-height 1.4
                        margin 0 0 15px 0
                > ol
                    list-style-position outside
                    margin 0 0 20px 20px
                    padding-left 0
                    line-height 1.4
                    li
                        line-height 1.4
                        margin 0 0 15px 0
            &:hover
            &.active
                .titulo
                    background-color $azul
            &.active
                .texto
                    display block

@keyframes go-back {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}