section.neolabx-rede
    width 100%
    height auto
    background-color #fff
    padding 30px 0
    .dados-iniciais
        width 100%
        height auto
        .imagens-iniciais
            width 1300px
            height auto
            margin 0 auto
            display flex
            align-items flex-start
            justify-content flex-end
            position relative
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                align-items flex-end
                width 100%
            .img-capa
                width 810px
                height 320px
                object-fit cover
                +below($tablet)
                    width 65%
                    height 250px
                +mobile()
                    width 100%
                    height 150px
            .link-rede-consultores
                width 457px
                height auto
                position relative
                +below($tablet)
                    width 35%
                +mobile()
                    width 40%
                    height 150px
                .img-rede
                    width 100%
                    height auto
                    object-fit cover
                    +mobile()
                        height 100%
        .faixa-laranja
            width 100%
            height 200px
            position absolute
            left 0
            top 320px
            background-color rgba(224, 36, 2,.7)
            +below($tablet)
                height 130px
                top 290px
            +mobile()
                height 80px
                top 220px
            .textos-faixa
                width 1300px
                height 100%
                margin 0 auto
                display flex
                align-items center
                justify-content flex-start
                +below($tablet)
                    width 90%
                .pagina
                    width auto
                    margin 0
                    raleway(86, thin)
                    color #FFF
                    +below($tablet)
                        font-size 46px
                    +mobile()
                        font-size 32px
                .titulo
                    width auto
                    margin 0 0 0 30px
                    raleway(34)
                    color #FFF
                    +below($tablet)
                        font-size 22px
                    +mobile()
                        font-size 14px
                        margin 0 0 0 15px
    .rede-consultores
        width 1300px
        height auto
        margin -158px auto 0 auto
        background $img("icone-marca-neovalor.svg") 10% -3% no-repeat transparent
        position relative
        +below($tablet)
            width 90%
            margin -90px auto 0 auto
        +mobile()
            margin -150px auto 0 auto
        .titulo-rede
            width 810px
            raleway(54)
            font-weight 300
            color $azul
            margin 0
            padding 40px 0 10px 0
            +below($tablet)
                width 65%
                font-size 32px
                padding 30px 0 5px 0
            +mobile()
                font-size 20px
                padding 20px 5px 5px 0
                width 60%
        .texto-rede
            width 810px
            raleway(14)
            color $azul
            padding-right 100px
            +below($tablet)
                width 65%
                font-size 12px
            +mobile()
                width 60%
                font-size 10px
                padding-right 10px
            > p
                line-height 1.5
                margin 0 0 15px 0
        .link-voltar-topo
            raleway(14, bold)
            color $laranja
            margin 10px 0
            position absolute
            right 280px
            top 160px
            transition .3s ease
            +below($tablet)
                font-size 12px
                right 19%
                top 10%
            +mobile()
                font-size 9px
                right 4%
                top 9%
            &:hover
                color $azul
        .consultores
            width 100%
            height auto
            margin 50px auto 30px auto
            position relative
            +below($tablet)
                margin 35px auto 30px auto
            .consultor
                width 625px
                height auto
                border 1px solid $laranja
                padding 10px
                margin 0 50px 50px 0
                display flex
                align-items flex-start
                +below($tablet)
                    width calc("100% - 30px")
                    margin 0 30px 30px 0
                +mobile()
                    width 100%
                    margin 0 0 30px 0
                    flex-direction column
                    align-items center
                .foto-consultor
                    width 200px
                    height auto
                    object-fit contain
                    +below($tablet)
                        width 150px
                    +mobile()
                        width 100px
                .dados-consultor
                    width calc("100% - 200px")
                    padding 15px 20px 15px 30px
                    +below($tablet)
                        width calc("100% - 150px")
                        padding 10px 15px 10px 25px
                    +mobile()
                        width 100%
                        padding 15px 10px 10px 10px
                    .nome-consultor
                        raleway(16, bold)
                        color $laranja
                        text-transform uppercase
                        margin 0 0 10px 0
                        +below($tablet)
                            font-size 13px
                            margin 0 0 5px 0
                        +mobile()
                            text-align center
                    .texto-consultor
                        raleway(12)
                        color $azul
                        +below($tablet)
                            font-size 11px
                        +mobile()
                            text-align center
                        > p
                            line-height 1.5
                            margin 0 0 15px 0
                    .email-consultor, .wpp-consultor, .linkedin-consultor
                        width 100%
                        display flex
                        align-items center
                        justify-content flex-start
                        raleway(14, bold)
                        color $azul
                        margin 3px 0
                        transition .3s ease
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            justify-content center
                        .img-email, .img-wpp, .img-linkedin
                            max-width 16px
                            width auto
                            height auto
                            margin-right 8px
                            object-fit contain
                            +below($tablet)
                                max-width 14px
                                margin-right 5px
                        &:hover
                            color $laranja
                    .wpp-consultor
                        margin 3px 0 5px 0
        .link-voltar-fim
            width 100%
            margin 0 auto
            raleway(12, bold)
            color $laranja
            display flex
            align-items center
            justify-content center
            transition .3s ease
            .img-setinha
                transform rotate(180deg)
                width 12px
                height auto
                margin-right 5px
                transition transform .3s ease
            &:hover
                color $azul
                .img-setinha
                    transform rotate(540deg) scale(1.2)