section.neolabx
    width 100%
    height auto
    background-color #fff
    padding 30px 0
    .dados-iniciais
        width 100%
        height auto
        .imagens-iniciais
            width 1300px
            height auto
            margin 0 auto
            display flex
            align-items flex-start
            justify-content flex-end
            position relative
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                align-items flex-end
                width 100%
            .img-capa
                width 810px
                height 320px
                object-fit cover
                +below($tablet)
                    width 65%
                    height 250px
                +mobile()
                    width 100%
                    height 150px
            .link-rede-consultores
                width 457px
                height auto
                position relative
                +below($tablet)
                    width 35%
                +mobile()
                    width 40%
                    height 150px
                .img-rede
                    width 100%
                    height auto
                    object-fit cover
                    +mobile()
                        height 100%
                .titulo-rede
                    width auto
                    margin 0
                    raleway(18, bold)
                    color #00C7F9
                    position absolute
                    left 25%
                    bottom 30px
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        left 22%
                        bottom 20px
                    +mobile()
                        font-size 10px
                        left 10%
                &:hover
                    .titulo-rede
                        color $laranja
        .frases-e-itens
            width 843px
            height auto
            margin -158px auto 0 calc("(100% - 1300px) / 2")
            position relative
            background $img("icone-marca-neovalor.svg") 20% no-repeat transparent
            +below($tablet)
                width calc("90% * 65%")
                margin -105px auto 0 5%
            +mobile()
                width 55%
                margin -150px auto 0 5%
            .frases
                width 100%
                height 154px
                display flex
                flex-direction column
                align-items flex-start
                justify-content center
                +below($tablet)
                    height 101px
                +mobile()
                    height 151px
                .frase1, .frase2
                    raleway(24)
                    color $azul
                    margin 0
                    line-height 1.3
                    +below($tablet)
                        font-size 16px
                    +mobile()
                        font-size 13px
                .frase1
                    margin 0 0 3px 0
                    +mobile()
                        margin 0 0 5px 0
            .itens-neolabx
                width 100%
                height auto
                display flex
                flex-direction column
                align-items flex-end
                justify-content center
                +mobile()
                    width 160%
                .item1, .item2, .item3
                    width auto
                    max-width 670px
                    height auto
                    padding 16px 35px
                    background-color #2A3F59
                    border-bottom .5px solid #F2F2F2
                    exo(19, medium)
                    color #FFF
                    text-align right
                    margin 0
                    line-height 1.3
                    +below($tablet)
                        font-size 14px
                        max-width 80%
                        padding 13px 25px
                    +mobile()
                        font-size 11px
                        max-width 100%
                        padding 10px 15px
                .item2
                    background-color #32516A
                .item3
                    background-color #3B6179
        .faixa-laranja
            width 100%
            height 200px
            position absolute
            left 0
            top 320px
            background-color rgba(224, 36, 2,.7)
            +below($tablet)
                height 130px
                top 290px
            +mobile()
                height 80px
                top 220px
            .textos-faixa
                width 1300px
                height 100%
                margin 0 auto
                display flex
                align-items center
                justify-content flex-start
                +below($tablet)
                    width 90%
                .pagina
                    width auto
                    margin 0
                    raleway(86, thin)
                    color #FFF
                    +below($tablet)
                        font-size 46px
                    +mobile()
                        font-size 32px
                .titulo
                    width auto
                    margin 0 0 0 30px
                    raleway(34)
                    color #FFF
                    +below($tablet)
                        font-size 22px
                    +mobile()
                        font-size 14px
                        margin 0 0 0 15px
    .inovacao
        width 100%
        height 830px
        position relative
        background-color $azul
        padding 65px 0
        margin-top 110px
        +below($tablet)
            height 650px
            padding 40px 0
            margin-top 90px
        +mobile()
            height 1300px
            padding 30px 0
            margin-top 60px
        .titulo-inovacao
            width 100%
            raleway(70)
            font-weight 300
            color $laranja
            text-align center
            margin 0
            +below($tablet)
                font-size 40px
            +mobile()
                font-size 28px
        .centralizado
            width 1300px
            height auto
            margin 55px auto 0 auto
            display flex
            align-items flex-start
            justify-content center
            +below($tablet)
                width 90%
                margin 40px auto 0 auto
            +mobile()
                flex-direction column
                align-items center
                margin 30px auto 0 auto
            .link-inovacao
                width 350px
                height 480px
                margin 0 25px
                cursor pointer
                outline none
                position relative
                +below($tablet)
                    width 30%
                    height 400px
                    margin 0 20px
                +mobile()
                    width 90%
                    height 350px
                    margin 0 0 30px 0
                .frente
                    width 100%
                    height 100%
                    display flex
                    flex-direction column
                    align-items center
                    position absolute
                    visibility visible
                    .img-inovacao
                        width 350px
                        height 350px
                        border-radius 50%
                        border 1px solid $laranja
                        object-fit cover
                        transition border .5s ease
                        +below($tablet)
                            width 250px
                            height 250px
                        +mobile()
                            width 180px
                            height 180px
                    .titulo-frente
                        exo(32, bold)
                        color $laranja
                        text-align center
                        margin 20px 0 15px 0
                        line-height 1.2
                        +below($tablet)
                            font-size 26px
                        +mobile()
                            font-size 22px
                            margin 15px 0 10px 0
                    .subtitulo-frente
                        exo(18, bold)
                        color #FFF
                        text-align center
                        margin 0
                        line-height 1.2
                        +below($tablet)
                            font-size 16px
                        +mobile()
                            font-size 14px
                    .img-setinha
                        transform rotate(270deg)
                        width auto
                        height auto
                        object-fit contain
                        position absolute
                        bottom 0
                        transition transform .5s ease
                        +mobile()
                            bottom 10px
                .verso
                    visibility hidden
                    opacity 0
                    transition visibility .5s linear, opacity .5s linear
                    .titulo-verso, .subtitulo-verso, .texto-verso, .setinha-verso
                        visibility hidden
                        opacity 0
                &.active
                    .frente
                        visibility hidden
                        .img-inovacao, .titulo-frente, .subtitulo-frente, .img-setinha
                            visibility hidden
                            opacity 0
                    .verso
                        visibility visible
                        opacity 1
                        width 100%
                        height 100%
                        display flex
                        flex-direction column
                        align-items center
                        padding 23px 0
                        position absolute
                        +below($tablet)
                            padding 20px 0
                        .titulo-verso
                            visibility visible
                            opacity 1
                            exo(24, bold)
                            color $laranja
                            text-align center
                            margin 0
                            line-height 1.3
                            +below($tablet)
                                font-size 18px
                            +mobile()
                                font-size 16px
                        .subtitulo-verso
                            visibility visible
                            opacity 1
                            exo(36, bold)
                            color #FFF
                            text-align center
                            margin 0 0 20px 0
                            line-height 1
                            +below($tablet)
                                font-size 28px
                                margin 0 0 15px 0
                            +mobile()
                                font-size 24px
                        .texto-verso
                            visibility visible
                            opacity 1
                            raleway(16, bold)
                            color #FFF
                            text-align center
                            +below($tablet)
                                font-size 13px
                            +mobile()
                                font-size 12px
                            > p
                                line-height 1.4
                                margin 0 0 20px 0
                                +below($tablet)
                                    margin 0 0 15px 0
                        .setinha-verso
                            visibility visible
                            opacity 1
                            width 40px
                            height 40px
                            border 1px solid #FFF
                            display flex
                            align-items center
                            justify-content center
                            position absolute
                            bottom 0
                            transition border .5s ease
                            +below($tablet)
                                width 30px
                                height 30px
                            .img-setinha
                                transform rotate(90deg)
                                width auto
                                height auto
                                object-fit contain
                                transition transform .5s ease
                &:hover
                    .frente
                        .img-inovacao
                            border 1px solid #FFF
                        .img-setinha
                            transform rotate(630deg) scale(1.2)
                    .verso
                        .setinha-verso
                            border 1px solid $laranja
                            .img-setinha
                                transform rotate(450deg) scale(1.2)
        .contatos
            width 1060px
            height 120px
            margin 0 auto
            background-color $laranja
            display flex
            align-items center
            justify-content center
            position absolute
            left calc("(100% - 1060px) / 2")
            bottom -60px
            +below($tablet)
                width 70%
                height 100px
                left 15%
                bottom -50px
            +mobile()
                width 80%
                height 120px
                left 10%
                bottom -60px
                flex-direction column
            .frase-contato
                exo(24, bold)
                color #FFF
                margin 0 20px 0 0
                +below($tablet)
                    font-size 16px
                +mobile()
                    font-size 14px
                    margin 0 0 10px 0
            .link-whatsapp
                margin 0 25px 0 0
                display flex
                align-items center
                +below($tablet)
                    margin 0 20px 0
                +mobile()
                    margin 0 0 10px 0
                .img-whats
                    width auto
                    height auto
                    object-fit contain
                    margin 0 10px 0 0
                    transition transform .5s ease
                    +mobile()
                        width 20px
                .telefone
                    exo(24)
                    color #FFF
                    margin 0
                    transition .5s ease
                    +below($tablet)
                        font-size 16px
                    +mobile()
                        font-size 14px
                &:hover
                    .img-whats
                        transform rotate(360deg)
                    .telefone
                        color $azul
            .link-email
                margin 0
                display flex
                align-items center
                .icone-email
                    width 30px
                    height 30px
                    background-color #fff
                    border-radius 50%
                    display flex
                    align-items center
                    justify-content center
                    margin 0 10px 0 0
                    padding 8px
                    transition background .5s ease
                    +mobile()
                        width 20px
                        height 20px
                        padding 4px
                    .img-email
                        width 100%
                        height auto
                        object-fit contain
                        transition transform .5s ease
                .email
                    exo(24)
                    color #FFF
                    margin 0
                    transition .5s ease
                    +below($tablet)
                        font-size 16px
                    +mobile()
                        font-size 14px
                &:hover
                    .icone-email
                        background-color $azul
                        .img-email
                            transform rotate(360deg) scale(1.2)
                    .email
                        color $azul
    .blogx
        width 1220px
        height auto
        margin 150px auto 140px auto
        +below($tablet)
            width 80%
            margin 130px auto 100px auto
        +mobile()
            margin 110px auto 80px auto
        .titulo-blogx
            width 100%
            exo(36, medium)
            color $azul
            text-align center
            font-style italic
            margin 10px 0 35px 0
            +below($tablet)
                font-size 32px
                margin 0 0 30px 0
            +mobile()
                font-size 28px
        .artigo-blogx
            width 100%
            height 390px
            background-color $azul
            display flex
            flex-direction row
            align-items flex-start
            margin-bottom 30px
            cursor pointer
            transition background 0.5s ease-in-out
            +below($tablet)
                height 300px
                margin-bottom 20px
            +mobile()
                flex-direction column
                height 400px
            .capa
                width 600px
                height 370px
                margin 10px
                border 1px solid $laranja
                +below($tablet)
                    width 45%
                    height 280px
                +mobile()
                    width calc("100% - 20px")
                    height 170px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
            .dados
                width 620px
                height 100%
                padding 35px 35px 40px 50px
                display flex
                flex-direction column
                justify-content space-between
                +below($tablet)
                    width 55%
                    padding 30px 30px 30px 40px
                +mobile()
                    width 100%
                    padding 10px 20px 
                .subtitulo
                    raleway(24, medium)
                    color $laranja
                    margin 0 0 7px 0
                    transition .2s ease
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 16px
                .categoria-consultor
                    display flex
                    align-items center
                    .categoria
                        raleway(14)
                        font-weight 600
                        color $laranja
                        text-transform uppercase
                        margin 0 5px 0 0 
                        transition .2s ease
                    .autor
                        raleway(12)
                        font-weight 600
                        color $laranja
                        margin 0
                        transition .2s ease
                .titulo-artigo
                    exo(32, bold)
                    color #FFF
                    margin 15px 0
                    line-height 1.3
                    +below($tablet)
                        font-size 28px
                    +mobile()
                        font-size 22px
                .link-saber-mais
                    raleway(12)
                    font-weight 600
                    color #FFF
                    margin 0 0 0 auto
                    .img-setinha
                        width 11px
                        margin-left 5px
            &:hover
                background-color $laranja
                .subtitulo
                    color $azul
                .categoria-consultor
                    .categoria, .autor
                        color $azul
   