section.neovalor
    width 100%
    height auto
    background-color #fff
    padding 30px 0
    .sobre-empresa
        width 100%
        height 320px
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            height 250px
        +mobile()
            height auto
            flex-direction column
            align-items center
        .capa
            width calc("((100% - 1300px) / 2) + 320px")
            height 100%
            @media (max-width: 1350px) and (min-width: 1260px)
                width 35%
            +below($tablet)
                width 35%
            +mobile()
                width 100%
                height 180px
            .img-capa
                width 100%
                height 100%
                object-fit cover
        .sobre
            width calc("1300px - 320px")
            height 100%
            display flex
            flex-direction row
            align-items flex-start
            @media (max-width: 1350px) and (min-width: 1260px)
                width 60%
            +below($tablet)
                width 60%
            +mobile()
                width 90%
                flex-direction column
                align-items center
            .texto
                width calc("100% - 330px")
                height 100%
                padding 0 50px
                raleway(16)
                color $azul
                @media (max-width: 1350px) and (min-width: 1260px)
                    font-size 14px
                    padding 0 30px
                +below($tablet)
                    width calc("100% - 250px")
                    font-size 12px
                    padding 0 30px
                +mobile()
                    width 100%
                    padding 20px 0 10px 0
                    font-size 14px
                > p
                    margin 0 0 20px 0
                    line-height 1.7
                    +below($tablet)
                        margin 0 0 15px 0
            .foto
                width 330px
                height 330px
                border 1px solid $laranja
                +below($tablet)
                    width 250px
                    height 250px
                +mobile()
                    width 75%
                .img-foto
                    width 100%
                    height 100%
                    object-fit cover
    .link-curriculo
        width 1300px
        margin 25px auto
        display flex
        align-items center
        justify-content flex-end
        raleway(12, bold)
        color $laranja
        transition .2s ease
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
            margin 15px auto
        .img-setinha
            width 12px
            margin-left 5px
            transition transform 0.2s
        &:hover
            color $azul
            .img-setinha
                transform rotate(360deg) scale(1.3)
    .linha-neovalor
        width 100%
        margin 50px 0 40px 0
        border 1px solid $laranja
        +below($tablet)
            margin 40px 0
    .sobre-expertises
        width 1300px
        margin 0 auto 50px auto
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
        .texto
            width 750px
            margin 0 auto
            raleway(16)
            color $azul
            text-align center
            +below($tablet)
                width 80%
                font-size 14px
            +mobile()
                width 100%
            > p
                margin 0 0 20px 0
                line-height 1.7
                +below($tablet)
                    margin 0 0 15px 0
        .subtitulo
            raleway(16)
            color $azul
            text-align center
            margin 0 0 25px 0
            line-height 1
            +below($tablet)
                font-size 14px
                margin 0 0 20px 0
            +mobile()
                margin 0 0 15px 0
        .expertises
            width 100%
            height auto
            display flex
            flex-wrap wrap
            justify-content flex-start
            +mobile()
                flex-direction column
                align-items center
            .expertise
                width calc("(100% - 40px)/3")
                height 160px
                border 1px solid $laranja
                background-color $azul
                margin 0 20px 20px 0
                padding 10px 30px
                transition background .5s ease-in-out
                +below($tablet)
                    width 100%
                    height auto
                    padding 10px 20px 20px 20px
                    margin 0 0 15px 0
                .link-expertise
                    .titulo
                        exo(20, bold)
                        color #FFF
                        margin 0
                        +below($tablet)
                            font-size 24px
                        +mobile()
                            font-size 18px
                    .frase
                        raleway(14)
                        color #FFF
                        line-height 1.7
                        margin 10px 0 0 0
                        +below($tablet)
                            font-size 16px
                        +mobile()
                            font-size 12px
                &:hover
                    background-color $laranja
    .minha-metodologia
        width 100%
        height 380px
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            height 270px
        +mobile()
            height auto
            flex-direction column
        .capa
            width 35%
            height 100%
            +mobile()
                width 100%
                height 180px
            .img-metodologia
                width 100%
                height 100%
                object-fit cover
        .sobre
            width 65%
            height 100%
            display flex
            flex-direction column
            align-items flex-start
            background-color $laranja
            padding 60px 0 50px 40px
            +below($tablet)
                padding 30px 0 20px 40px
            +mobile()
                width 100%
                padding 20px
                align-items center
            .subtitulo
                exo(28, bold)
                color #FFF
                margin 0 0 15px 0
                +below($tablet)
                    font-size 24px
                +mobile()
                    font-size 22px
            .texto
                width 75%
                raleway(16)
                color #FFF
                +below($tablet)
                    font-size 14px
                +mobile()
                    width 100%
                > p
                    margin 0 0 20px 0
                    line-height 1.7
                    +below($tablet)
                        margin 0 0 15px 0
                > ul 
                    list-style disc
                    list-style-position outside
                    margin 0 0 10px 20px
                    padding-left 0
                    line-height 1.7
                    li
                        line-height 1.7
                        margin 0 0 15px 0
    .pilares
        width 1300px
        margin 70px auto 50px auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-around
        @media (max-width: 1350px) and (min-width: 1260px)
            width 90%
        +below($tablet)
            width 90%
            margin 50px auto
        +mobile()
            flex-direction column
            align-items center
        .missao, .visao, .proposito, .valores
            width 285px
            display flex
            flex-direction column
            align-items center
            +below($tablet)
                width 23%
            +mobile()
                width 100%
                margin-bottom 25px
            .img-missao, .img-visao, .img-proposito, .img-valores
                height 75px
            .titulo
                exo(24, bold)
                color $azul
                margin 20px 0 0 0
                +below($tablet)
                    font-size 20px
                    margin 15px 0 0 0
                +mobile()
                    margin 10px 0 0 0
            .texto
                raleway(16)
                color $azul
                text-align center
                +below($tablet)
                    font-size 12px
                > p 
                    margin 0
                    line-height 1.5
        .missao
            width 230px
            +below($tablet)
                width 23%
            +mobile()
                width 100%
        .proposito
            width 220px
            +below($tablet)
                width 23%
            +mobile()
                width 100%
        .valores
            width 190px
            +below($tablet)
                width 23%
            +mobile()
                width 100%