section.politica-de-privacidade
    position relative
    width 1300px
    margin 30px auto 80px auto
    @media (max-width: 1350px) and (min-width: 1260px)
        width 90%
    +below($tablet)
        width 90%
    .titulo
        exo(32, medium)
        color $azul
        margin-bottom 30px
        +below($tablet)
            font-size 24px
        +mobile()
            font-size 20px
    .texto
        position relative
        background-color transparent
        width 100%
        height auto
        padding 0
        raleway(16)
        color $azul
        +below($tablet)
            font-size 14px
        +mobile()
            font-size 12px
        p
            margin 0 0 20px 0 !important
            text-align left !important
            line-height 1.7 !important
            +below($tablet)
                margin 0 0 15px 0 !important
            > span
                font-size 16px !important
                +below($tablet)
                    font-size 14px !important
                +mobile()
                    font-size 12px !important
                > span 
                    line-height 1.7 !important
                    > span 
                        font-family 'Raleway', 'Helvetica', 'Arial', sans-serif !important
                        > b
                            > span 
                                font-size 16px !important
                                +below($tablet)
                                    font-size 14px !important
                                +mobile()
                                    font-size 12px !important
                                > span 
                                    color $azul !important

